name: Build signed release apk
# 触发器
on:
  push:
    tags:
      - v*
  pull_request:
    tags:
      - v*
permissions:
  id-token: "write"
  contents: "write"
  packages: "write"
  pull-requests: "read"
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11.0.14+101'
          distribution: 'temurin'
          cache: gradle
      - name: Checkout Android Keystore
        uses: actions/checkout@v2
        with:
          repository: ayasa520/keystore
          token: ${{ secrets.KEYSTORE_TOKEN }} 
          path: keystore 

#      - name: Grant execute permissions for gradlew
 #       run: chmod +x gradlew
  #    - name: Build with Gradle
   #     run: ./gradlew build
        

      - name: Grant execute permissions for gradlew
        run: chmod +x gradlew

      - name: Build unsigned release apk
        run: ./gradlew assembleRelease

      - name: "Upload Release Assets"
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          files: |
            app/build/outputs/apk/release/app-release.apk
         
